.profile_image {
    float: left;
    vertical-align: top;
}

.profile_image img {
    width: 75px;
    height: 75px;
}

.profile_content {
    width: 100px;
    height: 50px;;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile {
    float: top;
    height: 75px;
}

.content {
    clear: both;
    float: top;
    
}

.board {
    width: 80%;
    height: 300px;
    float: left;
}

.image {
    width: 20%;
    height: 300px;
    float: left;
}

.image img {
    padding: auto;
    width: 200px;
    height: 200px;
    display: block; 
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    margin: 3px;
}