div {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}
html {
	line-height : 1.55; /* 기본 행간 높이 */
}

h5, p {
    margin-bottom: 3px;
}

.background-gray {
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #f7f9fc;
}

.background-skyblue {
    background-color: #6fbaf8;
}

.btn {
    width: 100px;
    border: 0px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.profile-block {
    background-color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

.address {
    display: flex;
    align-items: center;
    color: #6fbaf8;
}

.address i{
    float: left;
    font-size: 20px;
    margin-right: 5px;
}

.profile-intro_content {
    display: flex;
    align-items: center;
}

.profile-intro_content h5 {
    width: 100px;
    margin-left: 30px;
    margin-right: 70px;
    margin-bottom: 15px;
}

.profile-nav {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.profile-nav a, .profile-nav div {
    font-size: 18px;
    color: #6fbaf8;
    text-align: center;
    padding-left: 15px;
}

.profile-border {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    color: #6fbaf8;
}

.profile-works {
    margin-top: 30px;
    padding: 30px;
}

.profile-works h5, .profile-about h5, .profile-about p, .profile-works p:nth-child(5) {
    margin-bottom: 20px;
}

.bar-color {
    background-color: #6fbaf8;
}

.profile-about {
    margin-top: 15px;
    padding: 30px;
}

.profile-about_border {
    margin-top: 50px;
    border: 3px solid #f7f9fc;
}

.profile-skills {
    margin-top: 30px;
    margin-bottom: 50px;
}

.profile-skills_buttongrop {
    margin-left: auto;
    margin-right: auto;
}

.profile-skills_buttongrop button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    border: 1.5px solid gray;
}

.botton-80 {
    width: 80px;
}

.profile-footer {
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 30px;
    display: block;
    text-align: center;
}

.profile-footer i {
    margin-bottom: 20px;
    color: #6fbaf8;
}

.profile-footer p {
    margin-bottom: 20px;
}

.profile-footer p:nth-child(4) {
    font-size: 13px;
    color: #6fbaf8;
}
@media screen and (max-width : 978px) {
    
}