body {
    margin: 0px;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "header header header header header header"
    "side content content content content content"
    "side content content content content content"
    "side content content content content content"
    "side content content content content content"
    "side content content content content content"
}

.grid-container div {
    border: 1px solid black;
}

.grid-nav {
    grid-area: header;
}

.grid-sidebar {
    grid-area: side;
}

.grid-content {
    grid-area: content;
}