body {
    margin: 0px;
    position: relative;
}

.ani-text {
    text-align: center;
}

.ani-text:hover {
    animation-name: move;
    animation-duration: 1s;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    75% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(00px);
    }
}

.btn {
    width: 100px;
    border: 0px;
    border-radius: 5px;
    background: skyblue;
    color: white;
    padding: 15px;
    font-size: 16px;
}

.btn:hover {
    animation-name: wave;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.plus {
    font-size: 50px;
    text-align: center;
}

.plus:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(45deg) scale(1.5);;
    }
}

.menu-box {
    position: fixed;
    transform: translateX(-150px);
    width: 300px;
    height: 500px;
    background: grey;
    transition: transform 1s;
    padding: 25px;
    color: white;
    text-align: center;
}

.right {
    margin-right: 20px;
    text-align: right;
    font-size: 20px;
}

.left {
    margin-left: 20px;
    text-align: left;
}

.menu-box:hover .left {
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.menu-box:hover .right{
    text-align: center;
}

.menu-box:hover {
    transform: translateX(0px);
    text-align: center;
}

@keyframes slide {
    0% {
        transform: translate(-250px);
    }
    50% {
        transform: skew(-30deg)  translate(150px);
    }
    100% {
        transform: translateX(100px);
    }
}