div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
html {
	line-height : 1.55; /* 기본 행간 높이 */
}

h2 {
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, textarea {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
}

input[type = text] {
    font-size: 30px;
    width: 90%;
}

input[type = email] {
    font-size: 30px;
    width: 90%;
}

textarea {
    width: 90%;
    height: 100px;
    
}

p {
    margin: 0px;
    margin-bottom: 3px;
    font-size: 20px;
}

.form {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.name {
    float: left;
    width: 45%;
    margin-right: 20px;
}

.sub-scrilbe input{
    float: left;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.sub-scrilbe p {
    float: left;
}

.send input {
    float: right;
    width: 150px;
    margin-right: 7.5%;
    background-color: orange;
    color: white;
}