.product-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-container div {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .product-container div {
        max-width: 600px;
        width: 49.5%;
    }
}

@media screen and (max-width: 768px) {
    .product-container div {
        max-width: 400px;
        width: 100%;
    }
}