body {
    text-align: center;
}

.ani-text:hover {
    animation-name: move;
    animation-duration: 1s;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100px);
        /* margin-left: 100px  성능 문제로 tranform 사용 권장 */ 
    }
    75% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}

.button-blue {
    padding: 15px;
    font-size: 18px;
    background: skyblue;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 30px;
}

.button-blue:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.plus {
    margin: 150px auto;
    font-size: 70px;
    width: 85px;
    cursor: pointer;
}

.plus:hover {
    animation-name: turn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(45deg) scale(1.5);
    }
}