$main-icon_color: white;
$sub-icon_color: gray;
$main-background: rgba(gray, 0.125);
$sub-background: white;
$title: rgba(gray, 0.125);
$sub-font: gray;



div {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0px;
    height: 5000px;
    background-color: $main-background;
}
html {
	line-height : 1.55;
}

i {
    color: $main-icon_color
}

.font-gray {
    color: $sub-font;
}

.search-container {
    display: inline-block;
    overflow: hidden;
    position: absolute;

    .btn {
        border-radius: 0px 10px 10px 0px;
    }
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-control {
    border-radius: 10px 0px 0px 10px;
    align-items: center;
}

.content, .container-fluid {
    margin-left: 50px;
}

.navbar {
    background: $sub-background;
}

.navbar-mymenu {
    border-radius: 5px;

    .btn {
        position: relative;

        i {
            color: $sub-font;
            z-index: 1;
        }

        span {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 0px;
            right: 3px;
            background: red;
            color: white;
            padding: 1px;
            font-size: 9px;
            border-radius: 3px;
        }
    }

    a {
        color: $sub-font;
    }
}

.shadow {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 50px;
    .sidebar-menu {
        text-align: center;
        position: fixed;
        left: 0px;
        top:0px;
        height: 100%;
        z-index: 1;
        background: #004080;

        .btn {
            display: flex;
            margin-top: 15px;
        }
    }
}

.graph {
    background: $sub-background;
}

.graph-box {
    width: 70%;
}

.dash-board, .containers {
    display: flex;
}

@mixin dash-board_box($border-color) {
	width: 25%;
    height: 100px;
    padding: 10px;
    margin: 20px;
    border-left: 5px solid $border-color;
    align-items: center;
    background: $sub-background;
    
    i {
        color: $sub-icon_color;
        
    }
}

.dash-board_blue {
	@include dash-board_box(skyblue);
}
.dash-board_green {
	@include dash-board_box(green);
}
.dash-board_purple {
	@include dash-board_box(purple);
}
.dash-board_yellow {
	@include dash-board_box(yellow);
}

.tasks {
    width: 30%;
    height: 225px;

    ol.list-group-numbered {
        list-style-type: none;
    }

}

.badge {
    float: right;
}

@media screen and (max-width: 991px) {
    .dash-board {
        display: block;
    }
    .dash-board_blue, .dash-board_green,
    .dash-board_purple, .dash-board_yellow {
        width: 96%;

        i {
            text-align: right;
        }
    }
}