.ul-box {
    li {
        width: 500px;
        list-style:none;
        padding: 15px;
        border: 1px solid #eee;
    }
    .active {
        background: skyblue;
        color: white;
    }
}

@mixin alert-box($background-color) {
    padding: 15px;
    border-radius: 5px;
    background: $background-color;
    margin: 15px;
}

.alert-box_green {
    @include alert-box(lightgreen)
}

.alert-box_blue {
    @include alert-box(lightblue)
}

.alert-box_yellow {
    @include alert-box(lightyellow)
}

.row {
    display: flex;
    margin: 10px;

    @mixin column($size) {
        padding: 10px;
        background: lavenderblush;
        border: 1px solid gainsboro;
        width: $size;
    }

    .col-6 {
        @include column(50%)
    }

    .col-4 {
        @include column(100% / 3)
    }

    .col-3 {
        @include column(25%)
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            @include column(8.3325% * $i);
        }
    }

    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            @media screen and (min-width : 1200px) {
                @include column(8.3325% * $i);
                color: blue;
            }
        }
        .col-md-#{$i} {
            @media screen and (max-width : 1200px) {
                @include column(8.3325% * $i);
                color: red;
            }
        }
        .col-sm-#{$i} {
            @media screen and (max-width : 992px) {
                @include column(8.3325% * $i);
                color: green;
            }
        }
        .col-xs-#{$i} {
            @media screen and (max-width : 768px) {
                @include column(8.3325% * $i);
                color: white;
            }
        }
    }
}