@use '_reset';

.block-list {
    width: 600px;
    height: 150px;
    font-size: 15px;

    li {
        list-style: none;
        padding: 15px;
        border: 1px solid #eee;
    }

    .active {
        background-color: powderblue;
        color: white;
    }
}

.alert-list {
    padding: 10px;
}

@mixin alert-block($background-color) {
    width: 800px;
    height: 60px;
    font-size: 16px;
    padding: 18px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: $background-color;
    color: #eee;

    p {
        margin: 0px
    }
}

.alert-block_green {
    @include alert-block(olivedrab);
}

.alert-block_blue {
    @include alert-block(skyblue);
}

.alert-block_yello {
    @include alert-block(orange);
}

@mixin column($width-size) {
    float: left;
    width: $width-size;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: lavender;
    border: 1px solid gainsboro;
}

.row {
    @for $i from 1 through 12 {
        .col-#{$i} {
            @include column(8.3325% * $i);
        }
    }

    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            @media screen and (min-width : 1200px) {
                @include column(8.3325% * $i);
                color: blue;
            }
        }
        .col-md-#{$i} {
            @media screen and (max-width : 1200px) {
                @include column(8.3325% * $i);
                color: red;
            }
        }
        .col-sm-#{$i} {
            @media screen and (max-width : 992px) {
                @include column(8.3325% * $i);
                color: green;
            }
        }
        .col-xs-#{$i} {
            @media screen and (max-width : 768px) {
                @include column(8.3325% * $i);
                color: white;
            }
        }
    }
}