/* td, th {
    border: 1px solid black;
} */

body {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

.cart-background {
    width: 100%;
    height: 600px;
    background: powderblue;
    padding: 30px;
}

.shopping-box {
    width: 80%;
    display: block;
    margin: auto;
    padding: 30px;
}

.shopping-list {
    width: 100%;
    max-width: 800px;
    background: white;
    text-align: center;
    border-style: none;
    border-radius: 10px;
}

.title {
    color: cadetblue;
    font-size: 20px;
}

.shopping-list img {
    width: 100px;
}

.cart-table {
    width: 100%;
    max-width: 800px;
    color: turquoise;
    border-style: none;
}

.cart-table th:nth-child(1) {
    width: 400px;
}

.cart-table td, .cart-table th {
    padding: 10px;
    border-bottom: 1px solid #c2d3de;
}


.item-name {
    text-align: left;
}

.total {
    color: cadetblue;
    text-align: right;
}

.brand {
    color: black;
    font-weight: 900;
    margin: 0px;
}

.amount {
    text-align: right;
}

.event-box {
    padding-top: 20px;
}

.button {
    float: right;
    padding: 15px;
    font-size: 15px;
    background: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 330px;
}

a {
    color: cadetblue;
}